/* ============================

	Author     : Michael Chen
	Created    : 21-FEB-2008

	Modified   : 22-FEB-2008
	By         : Michael Chen

	Modified : 25-JUN-2008
	By     	: Jenny McDonald

   ============================ */
/* === DEFAULT === */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    margin: 8px;
}

h2 {
    background: url( ../images/hr.gif ) bottom left no-repeat;
    font-size: 130%;
    font-weight: normal;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
}

h3 {
    font-size: 100%;
    padding-bottom: 12px;
    position: relative;
}

h2,
    h3 {
    color: #03257D;
}

p {
    font-size: 85%;
    line-height: 170%;
    margin-bottom: 12px;
}

ol {
    font-size: 85%;
    line-height: 170%;
    margin-bottom: 12px;
}

img {
    border: none;
}

form,
    input,
    select {
    font-family: Verdana, Arial, Helvetica, sans-serif; /* font-size:100%; */
}

a {
    color: #000;
    font-weight: normal;
    text-decoration: underline;
}

/* === HEADER CONTENT including logo and top navigation. === */
#header_logo {
    z-index: 1;
}

#header_logo {
    position: absolute;
    left: 40px;
    top: 26px;
}

/*NAVIGATION*/

#navbar {
    height: 55px;
    background: #03257D url( "../images/uni_tube.jpg" ) left top no-repeat;
    border-top: 15px solid #ffcc33;
    display: block;
    overflow: hidden;
    padding-left: 157px;
    font-size: 85%;
}

#navbar ul {
    padding: 10px 10px 0 400px;
    list-style: none;
}

#navbar li {
    display: inline;
    color: #e1e8ef;
}

#navbar a {
    text-decoration: none;
    color: #e1e8ef;
}

#navbar a:hover {
    color: #666;
}

#navigation a {
    color: #fff;
    background: #03257D url( "../images/navlh.gif" ) left top no-repeat;
    text-decoration: none;
    padding-left: 10px;
}

#navigation a span {
    background: url( "../images/navrh.gif" ) right top no-repeat;
    padding-right: 10px;
}

#navigation a, #navigation a span {
    display: block;
    float: left;
}

/* Hide from IE5-Mac \*/
#navigation a, #navigation a span {
    float: none
}
/* End hide */

#navigation a:hover {
    color: #000;
    background: #ffa20c url( "../images/navl.gif" ) left top no-repeat;
    padding-left: 10px;
}

#navigation a:hover span {
    background: url( "../images/navr.gif" ) right top no-repeat;
    padding-right: 10px;
}

#navigation a:focus {
    color: #000;
    background: #ffa20c url( "../images/navl.gif" ) left top no-repeat;
    padding-left: 10px
}

#navigation a:focus span {
    background: url( "../images/navr.gif" ) right top no-repeat;
    padding-right: 10px
}

.currentl {
    color: #000;
    background: #ffa20c url( "../images/navl.gif" ) left top no-repeat;
    padding-left: 10px;
}

.currentr {
    background: url( "../images/navr.gif" ) right top no-repeat;
    padding-right: 10px;
}

#navigation ul {
    list-style: none;
    padding: 10px 10px 0 200px;
}

#navigation li {
    float: left;
}

#nav_base {
    width: 100%;
    height: 15px;
    background: #ffa20c;
    line-height: normal;
}

/* === MAIN CONTENT === */
#main_content,
    #footer {
    margin: 38px 0 0 0;
}

#main_content form {
    font-size: 100%;
}

/* Reset for the check box in table. */
#main_content form table input {
    margin: 3px;
    padding: 2px;
}

#main_content table {
    font-size: 100%;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;

}

#main_content th {
    background: #e5e5e5;
    padding-right: 20px;
}

#main_content ul {
    font-size: 85%;
}

#main_content li {
    margin-left: 40px;
}

/* === TABLE === */
/* Can change the width of the columns on home tab*/
.file_latest {
    width: 550px;
}

.intro_news {
    width: 250px;
}

/* === Login links === */
/* Special style for in-text links to login pages */
.login {
    background: #e5e5e5;
    display: inline;
    padding: 3px;
}

.login:hover {
    text-decoration: underline;
}

/* === VIDEO section === */
#unitube_media {
    padding-bottom: 15px;
}

.vid_description {
    padding-left: 10px;
    padding-right: 6%;
}

.vid {
    overflow: auto;
}

.vid strong {
    clear: both;
    float: left;
    margin-top: 6px;
    width: 65px;
}

.vid input {
    float: left;
    width: 400px;
}

/* === FOOTER === */
#footer {
    background: url( ../images/hr.gif ) top left no-repeat;
    clear: both;
    color: #666;
    font-size: 85%;
    margin-top: 30px;
    padding-top: 20px;
}

div#main_content form input.text {
    width: 420px;
}

.hidden {
    display: none;
}

.navDiv {
    background-color: #ffcc33;
}

.pageNav {
}

.album,
    .album_with_right_border {
    background-color: #F7F7EF;
    color: #03257D;
    padding: 2px 8px;
    text-decoration: none;
}

.album_with_right_border {
    border-right: 1px solid #03257D;
}

.album:hover,
    .album_with_right_border:hover {
    background-color: #03257D;
    color: #ffffff;
}

#twitter {
    background: #e5e5e5;
}

.pagingNav {
    font-weight: bold;
    margin-top: 20px;
    width: 540px;
    text-align: center;
    font-size: 16px;
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 4px;
}

.pagerCurrent {
    color: #000;
    background-color: #FFF;
    padding: 1px 3px;
    margin-right: 3px;
}

.pagerNotCurrent {
    color: #03C;
    padding: 1px 3px;
    margin-right: 3px;
    text-decoration: underline;
    cursor: pointer;
}

.smallLabel {
    font-size: 14px;
}

.mediaThumbnail {
    padding: 5px;
    text-align: center;
    vertical-align: top;
    width: 200px;
    height: 130px;
}

.mediaLink {
    padding: 5px;
    padding-bottom: 20px;
    width: 200px;
}
